@import "tailwindcss";



::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #FF6F00; 
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #0d0d0d; 
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #1a1a1a; 
  }